
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
body{
    width: 100%;
}

.btn{
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 12.5px;
    padding-right: 40px;
    padding-left: 16px;
    background: linear-gradient(
  90deg,
  rgb(248, 175, 93),
  rgb(249, 65, 150),
  rgb(250, 18, 174),
  rgb(166, 1, 234)
);
    border-radius: 30px;
    border: none;
}

.btn:hover{
    cursor: pointer;
    background: white;
    color: gray;
}


.green-subscribe{
    color: #00FF88;
    border: 2px solid #00FF88;
    padding: 8px;
    width: 147px;
    height: 45px;
    border-radius: 30px;
    cursor: pointer;
}

.new{
    background-color: #00FF88;
    color: black;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 18px;
    border: none;
    border-radius: 30px;
    margin-top: -100px;
    margin-left:275px;
}




/* Header section */

.banner{
    background-image: url(/assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.banner .banner-inner {
    
    background-image: url(/assets/hero-circle.png);
    background-repeat: no-repeat;

    background-position: 46.6rem 7.8rem;
    background-size:25.7rem;
    
}




/* About section */

.about-container{
    background-color: #1A0B2E;
}

/* Choose Section */

.choose-section{
    background-color: #230E3D;
}

#card-1{
    grid-area: card-1;
}
#card-2{
    grid-area: card-2;
}
#card-3{
    grid-area: card-3;
}
#card-4{
    grid-area: card-4;
}
#card-5{
    grid-area: card-5;
    
}


.choose-container{
    display: grid;
    gap: 20px;
    grid-template-areas: 
    "card-1 card-2 card-2"
    "card-1 card-3 card-3"
    "card-4 card-4 card-5";
}

.choose-card{
    background-color: #351165;
    border-radius: 30px;
    
}

/* Episode Section */

.feature{
    background-color: #1A0B2E;
}

iframe{
    border-radius: 20px;
    width: 100%;
    height:250px;
}

.video{
    background-color: #250D44;
    border-radius: 20px;
}
.video-content{
    padding: 24px;
}

.video-content h3{
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
}

.video-content p{
    color: white;
    font-size: 1rem;
    line-height: 24px;
    padding-bottom: 1.5rem;
}


/* Host Part */

.host-details-container{
    background-color: #220c3f;
}

.host-details li{
    border:2px solid rgb(56, 11, 28);
    border-radius: 50%;
    padding: 12px;
}

.host-details-container{
    border-radius: 30px;
}



/* footer */

footer{
    background-image: url(/assets/footer-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    
}

footer .footer-head h1{
    padding-top: 165px;
    padding-left: 770px;
    padding-bottom: 20px;
}



/* Responsive Part */

@media screen and (max-width:576px) {

.about-content{
    margin:0px 0px 0px 0px;
}


.about-content p{
    margin: 0px 0px 0px 0px;
}


.choose-section{
    padding:10px;
    
    
}

.rating-container{
    margin: 0px;
    padding: 30px;
    gap: 70px;
}

.choose-container{
    padding: 0px;
    margin: 5px;
    gap: 10px;
    padding-bottom: 10px;
    grid-template-areas: 
    "card-1" 
    "card-2"
    "card-3"
    "card-4"
    "card-5";
}

.featured-episode{
    padding: 20px;
}

.host{
    padding: 20px;
}

.hr{
    margin: 0px 0px 0px;
}


}