

.btn{
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 12.5px;
    padding-right: 40px;
    padding-left: 16px;
    background: linear-gradient(
  90deg,
  rgb(248, 175, 93),
  rgb(249, 65, 150),
  rgb(250, 18, 174),
  rgb(166, 1, 234)
);
    border-radius: 30px;
    border: none;
}

.green-subscribe{
    color: #00FF88;
    border: 2px solid #00FF88;
    padding: 8px;
    width: 147px;
    height: 45px;
    border-radius: 30px;
}


/* Header section */

.banner{
    background-image: url(/assets/hero-bg.png);
    background-size: 100%;
}
.banner .banner-inner {
    
    background-image: url(/assets/hero-circle.png);
    background-repeat: no-repeat;
    background-position: 745px 125px;
    background-size:410px;
}


/* About section */

.about-container{
    background-color: #1A0B2E;
}

/* Choose Section */

.choose-section{
    background-color: #230E3D;
}

#card-1{
    grid-area: card-1;
}
#card-2{
    grid-area: card-2;
}
#card-3{
    grid-area: card-3;
}
#card-4{
    grid-area: card-4;
}
#card-5{
    grid-area: card-5;
    
}


.choose-container{
    display: grid;
    gap: 20px;
    grid-template-areas: 
    "card-1 card-2 card-2"
    "card-1 card-3 card-3"
    "card-4 card-4 card-5";
}

.choose-card{
    background-color: #351165;
    border-radius: 30px;
    
}

/* Episode Section */